# Compiled go binary
wintree
wintree.exe

# macOS specific files
.DS_Store

# Distribution folder
/dist
/build

# Build scripts
build-local.ps1
build-release.ps1

# Go coverage crap
*.out
coverage.out
coverage